
*.xml

*.iml

*.txt

*.cmake

*.bin

*.out

*.c

*.check_cache

*.log

*.cxx

*.make

*.includecache

*.internal

*.cbp

Jutge-P11/P11/cmake-build-debug/Makefile

Jutge-P11/P11/cmake-build-debug/P02

*.o

Jutge-P11/P11/cmake-build-debug/CMakeFiles/Makefile2

Jutge-P11/P11/cmake-build-debug/CMakeFiles/3.6.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

*.marks
